<div class="page-title">
  <div class="page-title-element about">
    <div class="lang-section En"><a class="about" href="/about.html?lang=En">About</a></div>
    <div class="lang-section Ru"><a class="about" href="/about.html?lang=Ru">Инфо</a></div>
  </div>
  <div class="page-title-element title">
    <div class="lang-section En">
      <div class="level1"><a class="home" href="/?lang=En">Home</a></div>
      <div class="level2"><a class="about is-hidden" href="/about.html?lang=En">&nbsp/ About+Contact</a><a class="project-1 is-hidden" href="/project-1.html?lang=En">&nbsp/ Project 1</a><a class="project-2 is-hidden" href="/project-2.html?lang=En">&nbsp/ Project 2</a>
        <a
          class="project-3 is-hidden" href="/project-3.html?lang=En">&nbsp/ Project 3</a><a class="project-4 is-hidden" href="/project-4.html?lang=En">&nbsp/ Project 4</a><a class="project-5 is-hidden" href="/project-5.html?lang=En">&nbsp/ Project 5</a></div>
      <div class="level3"><a class="project-1-slides is-hidden" href="/project-1-slides.html?lang=En">&nbsp/ Slides</a><a class="project-2-slides is-hidden" href="/project-2-slides.html?lang=En">&nbsp/ Slides</a><a class="project-3-slides is-hidden" href="/project-3-slides.html?lang=En">&nbsp/ Slides</a>
        <a
          class="project-4-slides is-hidden" href="/project-4-slides.html?lang=En">&nbsp/ Slides</a><a class="project-5-slides is-hidden" href="/project-5-slides.html?lang=En">&nbsp/ Slides</a></div>
    </div>
    <div class="lang-section Ru">
      <div class="level1"><a class="home" href="/?lang=Ru">Главная</a></div>
      <div class="level2"><a class="about is-hidden" href="/about.html?lang=Ru">&nbsp/ Информация</a><a class="project-1 is-hidden" href="/project-1.html?lang=Ru">&nbsp/ Проект 1</a><a class="project-2 is-hidden" href="/project-2.html?lang=Ru">&nbsp/ Проект 2</a><a class="project-3 is-hidden"
          href="/project-3.html?lang=Ru">&nbsp/ Проект 3</a><a class="project-4 is-hidden" href="/project-4.html?lang=Ru">&nbsp/ Проект 4</a><a class="project-5 is-hidden" href="/project-5.html?lang=Ru">&nbsp/ Проект 5</a></div>
      <div class="level3"><a class="project-1-slides is-hidden" href="/project-1-slides.html?lang=Ru">&nbsp/ Слайды</a><a class="project-2-slides is-hidden" href="/project-2-slides.html?lang=Ru">&nbsp/ Слайды</a><a class="project-3-slides is-hidden" href="/project-3-slides.html?lang=Ru">&nbsp/ Слайды</a>
        <a
          class="project-4-slides is-hidden" href="/project-4-slides.html?lang=Ru">&nbsp/ Слайды</a><a class="project-5-slides is-hidden" href="/project-5-slides.html?lang=Ru">&nbsp/ Слайды</a></div>
    </div>
  </div>
  <div class="page-title-element lang">
    <div class="lang-element En active">En</div> /
    <div class="lang-element Ru">Ru</div>
  </div>
</div>