include ../1-base/_mixins
include ../3-modules/_header
include ../3-modules/_footer

mixin lang-section-project-4(lang)
  section#project-2(class = "lang-section "+lang)
    .arrow_up
      a
        img(class = "up", src="/_data/general/up-arrow.svg")
    .arrow_down
      a
        img(class = "down", src="/_data/general/down-arrow.svg")
    .wrapper
      +cube-container-content(lang, 1, 4, 1)
      +cube-container-content(lang, 2, 4, 2)
      +cube-container-content(lang, 3, 4, 3)
      +cube-container-content(lang, 4, 4, 4)
      +cube-container-content(lang, 5, 4, 5)
      +cube-container-placeholder(6)
      +cube-container-content(lang, 7, 4, 6)
      +cube-container-content(lang, 8, 4, 7)
      +cube-container-content(lang, 9, 4, 8)

      
.page-wrapper.load
  +background-project-info(4, 'En')
  +background-project-info(4, 'Ru')
  .content-wrapper.load
    +header
    +lang-section-project-4("En")
    +lang-section-project-4("Ru")
    //- +footer
