include ../1-base/_mixins
include ../3-modules/_header
include ../3-modules/_footer

mixin lang-section-project-3(lang)
	section#project-3(class = "lang-section "+lang)
		+updown-arrows()
		.wrapper
			+cube-container-content(lang, 1, 3, 1)
			+cube-container-content(lang, 2, 3, 2)
			+cube-container-placeholder(3)
			+cube-container-content(lang, 4, 3, 3)
			+cube-container-content(lang, 5, 3, 4)
			+cube-container-content(lang, 6, 3, 5)
			+cube-container-content(lang, 7, 3, 6)
			+cube-container-content(lang, 8, 3, 7)
			+cube-container-content(lang, 9, 3, 8)


.page-wrapper.load
	+background-project-info(3, 'Eng')
	+background-project-info(3, 'Rus')
	.content-wrapper.load
		+header
		+lang-section-project-3("Eng")
		+lang-section-project-3("Rus")
		//- +footer
