include ../1-base/_mixins
include ../3-modules/_header
include ../3-modules/_footer

mixin lang-section-project-5-slides(projectNumber, lang)
	section(id="project-"+projectNumber+"-slides", class = "lang-section "+lang)
		.wrapper
			+sideways-arrows()
			+sectionSlides(projectNumber, lang, 1)
			+sectionSlides(projectNumber, lang, 2)
			+sectionSlides(projectNumber, lang, 3)
			+sectionSlides(projectNumber, lang, 4)
			+sectionSlides(projectNumber, lang, 5)
			+sectionSlides(projectNumber, lang, 6)
			+sectionSlides(projectNumber, lang, 7)


.page-wrapper.load
	+background-project-info(5, 'Eng')
	+background-project-info(5, 'Rus')
	.content-wrapper.load
		+header
		+projectLength(5)
		+lang-section-project-5-slides(5, "Eng")
		+lang-section-project-5-slides(5, "Rus")
		//- +footer
