include ../1-base/_mixins
include ../3-modules/_header
include ../3-modules/_footer

mixin lang-section-project-2(lang)
	section#project-2(class = "lang-section "+lang)
		+updown-arrows()
		.wrapper
			+cube-container-content(lang, 1, 2, 1)
			+cube-container-placeholder(2)
			+cube-container-content(lang, 3, 2, 2)
			+cube-container-content(lang, 4, 2, 3)
			+cube-container-content(lang, 5, 2, 4)
			+cube-container-placeholder(6)
			+cube-container-content(lang, 7, 2, 5)
			+cube-container-content(lang, 8, 2, 6)
			+cube-container-content(lang, 9, 2, 7)

.page-wrapper.load
	+background-project-info(2, 'Eng')
	+background-project-info(2, 'Rus')
	.content-wrapper.load
		+header
		+lang-section-project-2("Eng")
		+lang-section-project-2("Rus")
		//- +footer
