include ../1-base/_mixins
include ../3-modules/_header
include ../3-modules/_footer

mixin lang-section-project-1-slides(projectNumber, lang)
	section(id="project-"+projectNumber+"-slides", class = "lang-section "+lang+" is-hidden")
		.wrapper
			+sideways-arrows()
			+sectionSlides(projectNumber, lang, 1)
			+sectionSlides(projectNumber, lang, 2)
			+sectionSlides(projectNumber, lang, 3)
			+sectionSlides(projectNumber, lang, 4)
			+sectionSlides(projectNumber, lang, 5)
			+sectionSlides(projectNumber, lang, 6)
			+sectionSlides(projectNumber, lang, 7)
			+sectionSlides(projectNumber, lang, 8)
			+sectionSlides(projectNumber, lang, 9)
			+sectionSlides(projectNumber, lang, 10)


.page-wrapper.load
	+background-project-info(1, 'Eng')
	+background-project-info(1, 'Rus')
	.content-wrapper.load
		+header
		//- +loader
		+projectLength(1)
		+lang-section-project-1-slides(1, "Eng")
		+lang-section-project-1-slides(1, "Rus")
		//- +footer
