<div class="page-wrapper load">
  <div class="background-description lang-section En">
    <div class="quote">{{ site.data.projects.project_list.project-4.En-descript }}</div>
  </div>
  <div class="background-description lang-section Ru">
    <div class="quote">{{ site.data.projects.project_list.project-4.Ru-descript }}</div>
  </div>
  <div class="content-wrapper load">
    <div class="page-title">
      <div class="page-title-element about">
        <div class="lang-section En"><a class="about" href="/about.html?lang=En">About</a></div>
        <div class="lang-section Ru"><a class="about" href="/about.html?lang=Ru">Инфо</a></div>
      </div>
      <div class="page-title-element title">
        <div class="lang-section En">
          <div class="level1"><a class="home" href="/?lang=En">Home</a></div>
          <div class="level2"><a class="about is-hidden" href="/about.html?lang=En">&nbsp/ About+Contact</a><a class="project-1 is-hidden" href="/project-1.html?lang=En">&nbsp/ Project 1</a><a class="project-2 is-hidden" href="/project-2.html?lang=En">&nbsp/ Project 2</a><a class="project-3 is-hidden" href="/project-3.html?lang=En">&nbsp/ Project 3</a><a class="project-4 is-hidden" href="/project-4.html?lang=En">&nbsp/ Project 4</a><a class="project-5 is-hidden" href="/project-5.html?lang=En">&nbsp/ Project 5</a></div>
          <div class="level3"><a class="project-1-slides is-hidden" href="/project-1-slides.html?lang=En">&nbsp/ Slides</a><a class="project-2-slides is-hidden" href="/project-2-slides.html?lang=En">&nbsp/ Slides</a><a class="project-3-slides is-hidden" href="/project-3-slides.html?lang=En">&nbsp/ Slides</a><a class="project-4-slides is-hidden" href="/project-4-slides.html?lang=En">&nbsp/ Slides</a><a class="project-5-slides is-hidden" href="/project-5-slides.html?lang=En">&nbsp/ Slides</a></div>
        </div>
        <div class="lang-section Ru">
          <div class="level1"><a class="home" href="/?lang=Ru">Главная</a></div>
          <div class="level2"><a class="about is-hidden" href="/about.html?lang=Ru">&nbsp/ Информация</a><a class="project-1 is-hidden" href="/project-1.html?lang=Ru">&nbsp/ Проект 1</a><a class="project-2 is-hidden" href="/project-2.html?lang=Ru">&nbsp/ Проект 2</a><a class="project-3 is-hidden" href="/project-3.html?lang=Ru">&nbsp/ Проект 3</a><a class="project-4 is-hidden" href="/project-4.html?lang=Ru">&nbsp/ Проект 4</a><a class="project-5 is-hidden" href="/project-5.html?lang=Ru">&nbsp/ Проект 5</a></div>
          <div class="level3"><a class="project-1-slides is-hidden" href="/project-1-slides.html?lang=Ru">&nbsp/ Слайды</a><a class="project-2-slides is-hidden" href="/project-2-slides.html?lang=Ru">&nbsp/ Слайды</a><a class="project-3-slides is-hidden" href="/project-3-slides.html?lang=Ru">&nbsp/ Слайды</a><a class="project-4-slides is-hidden" href="/project-4-slides.html?lang=Ru">&nbsp/ Слайды</a><a class="project-5-slides is-hidden" href="/project-5-slides.html?lang=Ru">&nbsp/ Слайды</a></div>
        </div>
      </div>
      <div class="page-title-element lang">
        <div class="lang-element En active">En</div> /<div class="lang-element Ru">Ru</div>
      </div>
    </div>
    <section class="lang-section En" id="project-2">
      <div class="arrow_up"><a><img class="up" src="/_data/general/up-arrow.svg" /></a></div>
      <div class="arrow_down"><a><img class="down" src="/_data/general/down-arrow.svg" /></a></div>
      <div class="wrapper"><a class="cube-container cube-1" href="{{ site.data.projects.project_list.project-4.content.element1.link }}">
          <div class="box cube-1">
            <div class="side-face sides project-type-{{ site.data.projects.project_list.project-4.type }}">
              <div class="content">
                <div class="thumb" style="background: url(&quot;{{ site.data.projects.project_list.project-4.content.element1.path }}&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
                <div class="overlay project-type-{{ site.data.projects.project_list.project-4.type }}"></div>
                <div class="title">
                  <p>{{ site.data.projects.project_list.project-4.content.element1.En-name }}</p>
                </div>
              </div>
            </div>
          </div>
        </a><a class="cube-container cube-2" href="{{ site.data.projects.project_list.project-4.content.element2.link }}">
          <div class="box cube-2">
            <div class="side-face sides project-type-{{ site.data.projects.project_list.project-4.type }}">
              <div class="content">
                <div class="thumb" style="background: url(&quot;{{ site.data.projects.project_list.project-4.content.element2.path }}&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
                <div class="overlay project-type-{{ site.data.projects.project_list.project-4.type }}"></div>
                <div class="title">
                  <p>{{ site.data.projects.project_list.project-4.content.element2.En-name }}</p>
                </div>
              </div>
            </div>
          </div>
        </a><a class="cube-container cube-3" href="{{ site.data.projects.project_list.project-4.content.element3.link }}">
          <div class="box cube-3">
            <div class="side-face sides project-type-{{ site.data.projects.project_list.project-4.type }}">
              <div class="content">
                <div class="thumb" style="background: url(&quot;{{ site.data.projects.project_list.project-4.content.element3.path }}&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
                <div class="overlay project-type-{{ site.data.projects.project_list.project-4.type }}"></div>
                <div class="title">
                  <p>{{ site.data.projects.project_list.project-4.content.element3.En-name }}</p>
                </div>
              </div>
            </div>
          </div>
        </a><a class="cube-container cube-4" href="{{ site.data.projects.project_list.project-4.content.element4.link }}">
          <div class="box cube-4">
            <div class="side-face sides project-type-{{ site.data.projects.project_list.project-4.type }}">
              <div class="content">
                <div class="thumb" style="background: url(&quot;{{ site.data.projects.project_list.project-4.content.element4.path }}&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
                <div class="overlay project-type-{{ site.data.projects.project_list.project-4.type }}"></div>
                <div class="title">
                  <p>{{ site.data.projects.project_list.project-4.content.element4.En-name }}</p>
                </div>
              </div>
            </div>
          </div>
        </a><a class="cube-container cube-5" href="{{ site.data.projects.project_list.project-4.content.element5.link }}">
          <div class="box cube-5">
            <div class="side-face sides project-type-{{ site.data.projects.project_list.project-4.type }}">
              <div class="content">
                <div class="thumb" style="background: url(&quot;{{ site.data.projects.project_list.project-4.content.element5.path }}&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
                <div class="overlay project-type-{{ site.data.projects.project_list.project-4.type }}"></div>
                <div class="title">
                  <p>{{ site.data.projects.project_list.project-4.content.element5.En-name }}</p>
                </div>
              </div>
            </div>
          </div>
        </a>
        <div class="cube-placeholder cube-6"></div><a class="cube-container cube-7" href="{{ site.data.projects.project_list.project-4.content.element6.link }}">
          <div class="box cube-7">
            <div class="side-face sides project-type-{{ site.data.projects.project_list.project-4.type }}">
              <div class="content">
                <div class="thumb" style="background: url(&quot;{{ site.data.projects.project_list.project-4.content.element6.path }}&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
                <div class="overlay project-type-{{ site.data.projects.project_list.project-4.type }}"></div>
                <div class="title">
                  <p>{{ site.data.projects.project_list.project-4.content.element6.En-name }}</p>
                </div>
              </div>
            </div>
          </div>
        </a><a class="cube-container cube-8" href="{{ site.data.projects.project_list.project-4.content.element7.link }}">
          <div class="box cube-8">
            <div class="side-face sides project-type-{{ site.data.projects.project_list.project-4.type }}">
              <div class="content">
                <div class="thumb" style="background: url(&quot;{{ site.data.projects.project_list.project-4.content.element7.path }}&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
                <div class="overlay project-type-{{ site.data.projects.project_list.project-4.type }}"></div>
                <div class="title">
                  <p>{{ site.data.projects.project_list.project-4.content.element7.En-name }}</p>
                </div>
              </div>
            </div>
          </div>
        </a><a class="cube-container cube-9" href="{{ site.data.projects.project_list.project-4.content.element8.link }}">
          <div class="box cube-9">
            <div class="side-face sides project-type-{{ site.data.projects.project_list.project-4.type }}">
              <div class="content">
                <div class="thumb" style="background: url(&quot;{{ site.data.projects.project_list.project-4.content.element8.path }}&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
                <div class="overlay project-type-{{ site.data.projects.project_list.project-4.type }}"></div>
                <div class="title">
                  <p>{{ site.data.projects.project_list.project-4.content.element8.En-name }}</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </section>
    <section class="lang-section Ru" id="project-2">
      <div class="arrow_up"><a><img class="up" src="/_data/general/up-arrow.svg" /></a></div>
      <div class="arrow_down"><a><img class="down" src="/_data/general/down-arrow.svg" /></a></div>
      <div class="wrapper"><a class="cube-container cube-1" href="{{ site.data.projects.project_list.project-4.content.element1.link }}">
          <div class="box cube-1">
            <div class="side-face sides project-type-{{ site.data.projects.project_list.project-4.type }}">
              <div class="content">
                <div class="thumb" style="background: url(&quot;{{ site.data.projects.project_list.project-4.content.element1.path }}&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
                <div class="overlay project-type-{{ site.data.projects.project_list.project-4.type }}"></div>
                <div class="title">
                  <p>{{ site.data.projects.project_list.project-4.content.element1.Ru-name }}</p>
                </div>
              </div>
            </div>
          </div>
        </a><a class="cube-container cube-2" href="{{ site.data.projects.project_list.project-4.content.element2.link }}">
          <div class="box cube-2">
            <div class="side-face sides project-type-{{ site.data.projects.project_list.project-4.type }}">
              <div class="content">
                <div class="thumb" style="background: url(&quot;{{ site.data.projects.project_list.project-4.content.element2.path }}&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
                <div class="overlay project-type-{{ site.data.projects.project_list.project-4.type }}"></div>
                <div class="title">
                  <p>{{ site.data.projects.project_list.project-4.content.element2.Ru-name }}</p>
                </div>
              </div>
            </div>
          </div>
        </a><a class="cube-container cube-3" href="{{ site.data.projects.project_list.project-4.content.element3.link }}">
          <div class="box cube-3">
            <div class="side-face sides project-type-{{ site.data.projects.project_list.project-4.type }}">
              <div class="content">
                <div class="thumb" style="background: url(&quot;{{ site.data.projects.project_list.project-4.content.element3.path }}&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
                <div class="overlay project-type-{{ site.data.projects.project_list.project-4.type }}"></div>
                <div class="title">
                  <p>{{ site.data.projects.project_list.project-4.content.element3.Ru-name }}</p>
                </div>
              </div>
            </div>
          </div>
        </a><a class="cube-container cube-4" href="{{ site.data.projects.project_list.project-4.content.element4.link }}">
          <div class="box cube-4">
            <div class="side-face sides project-type-{{ site.data.projects.project_list.project-4.type }}">
              <div class="content">
                <div class="thumb" style="background: url(&quot;{{ site.data.projects.project_list.project-4.content.element4.path }}&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
                <div class="overlay project-type-{{ site.data.projects.project_list.project-4.type }}"></div>
                <div class="title">
                  <p>{{ site.data.projects.project_list.project-4.content.element4.Ru-name }}</p>
                </div>
              </div>
            </div>
          </div>
        </a><a class="cube-container cube-5" href="{{ site.data.projects.project_list.project-4.content.element5.link }}">
          <div class="box cube-5">
            <div class="side-face sides project-type-{{ site.data.projects.project_list.project-4.type }}">
              <div class="content">
                <div class="thumb" style="background: url(&quot;{{ site.data.projects.project_list.project-4.content.element5.path }}&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
                <div class="overlay project-type-{{ site.data.projects.project_list.project-4.type }}"></div>
                <div class="title">
                  <p>{{ site.data.projects.project_list.project-4.content.element5.Ru-name }}</p>
                </div>
              </div>
            </div>
          </div>
        </a>
        <div class="cube-placeholder cube-6"></div><a class="cube-container cube-7" href="{{ site.data.projects.project_list.project-4.content.element6.link }}">
          <div class="box cube-7">
            <div class="side-face sides project-type-{{ site.data.projects.project_list.project-4.type }}">
              <div class="content">
                <div class="thumb" style="background: url(&quot;{{ site.data.projects.project_list.project-4.content.element6.path }}&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
                <div class="overlay project-type-{{ site.data.projects.project_list.project-4.type }}"></div>
                <div class="title">
                  <p>{{ site.data.projects.project_list.project-4.content.element6.Ru-name }}</p>
                </div>
              </div>
            </div>
          </div>
        </a><a class="cube-container cube-8" href="{{ site.data.projects.project_list.project-4.content.element7.link }}">
          <div class="box cube-8">
            <div class="side-face sides project-type-{{ site.data.projects.project_list.project-4.type }}">
              <div class="content">
                <div class="thumb" style="background: url(&quot;{{ site.data.projects.project_list.project-4.content.element7.path }}&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
                <div class="overlay project-type-{{ site.data.projects.project_list.project-4.type }}"></div>
                <div class="title">
                  <p>{{ site.data.projects.project_list.project-4.content.element7.Ru-name }}</p>
                </div>
              </div>
            </div>
          </div>
        </a><a class="cube-container cube-9" href="{{ site.data.projects.project_list.project-4.content.element8.link }}">
          <div class="box cube-9">
            <div class="side-face sides project-type-{{ site.data.projects.project_list.project-4.type }}">
              <div class="content">
                <div class="thumb" style="background: url(&quot;{{ site.data.projects.project_list.project-4.content.element8.path }}&quot;); background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
                <div class="overlay project-type-{{ site.data.projects.project_list.project-4.type }}"></div>
                <div class="title">
                  <p>{{ site.data.projects.project_list.project-4.content.element8.Ru-name }}</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </section>
  </div>
</div>