mixin header()
	.page-title
		div.page-title-element.menuHolder
			div(class = "menuLinkHolder")
				.menuButton &#8801
				//■ ■ ■
		div.page-title-element.title
			div(class = "lang-section Eng")
				.level1
					a.home(href='/?lang=Eng') Home
				.level2
					a.about.is-hidden(href='/about.html?lang=Eng') &nbsp/ About
					a.links.is-hidden(href='/links.html?lang=Eng') &nbsp/ Links
					a.project-1.is-hidden(href='/project-1.html?lang=Eng') &nbsp/ Project 1
					a.project-2.is-hidden(href='/project-2.html?lang=Eng') &nbsp/ Project 2
					a.project-3.is-hidden(href='/project-3.html?lang=Eng') &nbsp/ Project 3
					a.project-4.is-hidden(href='/project-4.html?lang=Eng') &nbsp/ Project 4
					a.project-5.is-hidden(href='/project-5.html?lang=Eng') &nbsp/ Project 5
				.level3
					a.project-1-slides.is-hidden(href='/project-1-slides.html?lang=Eng') &nbsp/ Slides
					a.project-2-slides.is-hidden(href='/project-2-slides.html?lang=Eng') &nbsp/ Slides
					a.project-3-slides.is-hidden(href='/project-3-slides.html?lang=Eng') &nbsp/ Slides
					a.project-4-slides.is-hidden(href='/project-4-slides.html?lang=Eng') &nbsp/ Slides
					a.project-5-slides.is-hidden(href='/project-5-slides.html?lang=Eng') &nbsp/ Slides
			div(class = "lang-section Rus")
				.level1
					a.home(href='/?lang=Rus') Главная
				.level2
					a.about.is-hidden(href='/about.html?lang=Rus') &nbsp/ Инфо
					a.links.is-hidden(href='/links.html?lang=Rus') &nbsp/ Контакт
					a.project-1.is-hidden(href='/project-1.html?lang=Rus') &nbsp/ Проект 1
					a.project-2.is-hidden(href='/project-2.html?lang=Rus') &nbsp/ Проект 2
					a.project-3.is-hidden(href='/project-3.html?lang=Rus') &nbsp/ Проект 3
					a.project-4.is-hidden(href='/project-4.html?lang=Rus') &nbsp/ Проект 4
					a.project-5.is-hidden(href='/project-5.html?lang=Rus') &nbsp/ Проект 5
				.level3
					a.project-1-slides.is-hidden(href='/project-1-slides.html?lang=Rus') &nbsp/ Слайды
					a.project-2-slides.is-hidden(href='/project-2-slides.html?lang=Rus') &nbsp/ Слайды
					a.project-3-slides.is-hidden(href='/project-3-slides.html?lang=Rus') &nbsp/ Слайды
					a.project-4-slides.is-hidden(href='/project-4-slides.html?lang=Rus') &nbsp/ Слайды
					a.project-5-slides.is-hidden(href='/project-5-slides.html?lang=Rus') &nbsp/ Слайды
		div.page-title-element.menu.hidden
			img.menuBackground(src='/_data/general/menu_BG.png')
			div.menuEntry
				div(class = "lang-section Eng")
					a(href='/about.html?lang=Eng') About
				div(class = "lang-section Rus")
					a(href='/about.html?lang=Rus') Инфо
			hr
			div.menuEntry
				div(class = "lang-section Eng")
					a(href='/links.html?lang=Eng') Links
				div(class = "lang-section Rus")
					a(href='/links.html?lang=Rus') Контакт
			hr
			div.menuEntry.lang
				.lang-element.Eng.active Eng
				|  / 
				.lang-element.Rus Rus

	//-
		.page-title
			span.page-title-element.about
				div(class = "lang-section "+lang+" "+active)
					a.about(href='/about.html') Me
				div(class = "lang-section "+lang+" "+active)
					a.about(href='/about.html') Me
			span.page-title-element.title
				.level1
					a(href='/') Home
				.level2
					a.about.is-hidden(href='/about.html')  / About+Contact
					a.project-1.is-hidden(href='/project-1.html')  / ProjectContact
			span.page-title-element.lang
				.lang-element.active Eng
				|  /
				.lang-element Rus
